# = Config Mysql5 Version 1.1
[client]
password
port = 3306
socket=/var/run/mysqld/mysqld.sock

[mysql]
auto-rehash
column-names
line-numbers
pager=less -S -i -s
reconnect
vertical

[mysqldump]
add-drop-table
add-locks
allow-keywords
comments
complete-insert
create-options
dump-date
events
extended-insert
flush-logs
flush-privileges
lock-tables
max_allowed_packet=64M
no-create-db
quick
quote-names
routines
triggers
verbose

[isamchk]
key_buffer=20M
read_buffer=16M
sort_buffer=32M
write_buffer=2M

[myisamchk]
key_buffer=20M
read_buffer=16M
sort_buffer=32M
write_buffer=2M

[mysqlhotcopy]
interactive-timeout
